PORT=3001
NODE_ENV=development

# Supabase (from Supabase → Project → Settings → API)
SUPABASE_URL=https://bbycwxkxlalmmvrtkryz.supabase.co
SUPABASE_ANON_KEY=YeyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJieWN3eGt4bGFsbW12cnRrcnl6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE3MTU5NjIsImV4cCI6MjA3NzI5MTk2Mn0.iSShDVszQcEGebj3Z1tABBkto1nYZ0YJdutl7Kk5ucE
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJieWN3eGt4bGFsbW12cnRrcnl6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MTcxNTk2MiwiZXhwIjoyMDc3MjkxOTYyfQ.GollmwgJSbZ6O4a_OgmxZcTfjmo2r-d5BCtnXSZukLg

# Strava (from your Strava app)
STRAVA_CLIENT_ID=183099
STRAVA_CLIENT_SECRET=c2e7dd8829c77cb21d6d240b758ca12afad02316
STRAVA_REDIRECT_URI=http://localhost:3001/api/auth/strava/callback

# Secrets
JWT_SECRET=/0iTIP6sWrq55m60N9JQoXBoNHxlRmqY+up5la/SyxqkhKweo2twndLrGA0P+fVbVS5DEsdFRusejkZ3x2FBLw==
SESSION_SECRET=generate_a_random_long_string

# CORS
FRONTEND_URL=http://localhost:5173